[build]
  publish = "builds"
  command = ""

[[headers]]
  for = "/*"
  [headers.values]
    Cross-Origin-Embedder-Policy = "require-corp"
    Cross-Origin-Opener-Policy = "same-origin"
    X-Content-Type-Options = "nosniff"
    X-Frame-Options = "DENY"
    Referrer-Policy = "strict-origin-when-cross-origin"

[[headers]]
  for = "/*.wasm"
  [headers.values]
    Content-Type = "application/wasm"

[[headers]]
  for = "/*.pck"
  [headers.values]
    Content-Type = "application/octet-stream"

[[headers]]
  for = "/*.js"
  [headers.values]
    Content-Type = "application/javascript"
